---
layout: default
---

<div class="row">
  <div class="eight columns">
    {% for post in site.posts limit: 3 %}
    <h3>
      <a href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a>
    </h3>

    <div class="row">
      <div class="twelve columns">
        {{post.content}}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="four columns">
    <h4>Recent Writings</h4>
    <p>from the archives</p>
    <ul class="disc">
      {% for post in site.posts offset: 3 limit: 10 %}
      <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
    <h4>Bob Cobb</h4>
    <p>-- welcome to the blog</p>
    <p><a href="feed.xml">site feed</a></p>
  </div>
</div>